circle {
    fill: white;
    stroke: steelblue;
    stroke-width: 2px;
}

line {
    stroke: grey;
    stroke-width: 3px;
}

text {
    text-anchor: middle;
}

.link {
    fill: none;
    stroke: grey;
    stroke-width: 2px;
}

textarea {
    min-height: 200px;
    min-width: 200px;
}